.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px;
    color: #333;
    animation: fadeIn 1s forwards; /* Fade-in effect with 1s duration */
    opacity: 0; /* Start as invisible */
  }

  .title {
    margin-bottom: 20px;
    color: #ffcf4a;
    text-shadow: 0 0 10px #a8831c, 0 0 20px #ffcf4a;
    text-decoration: underline; /* Adds underline */
}
  
  .section {
    margin-bottom: 40px;
  }
  
  .subtitle {
    margin-bottom: 20px;
    color: #ffcf4a;
    text-decoration: underline; /* Adds underline */
  }
  
  .description {
    margin-left: 40px;
    background: linear-gradient(to bottom, #1a1a1a, #1f1f1f); /* Dark gradient */
    color: white; /* Sets the text color to white */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Define fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
